nav{
    background-color: #8bc77b;}

img{
    max-inline-size:50%;}

section {
    background-color: #f5f1d9;
}

body {
    background-color:  #bdcfa8;
  

}
    


.footer {
    height: 210px;
    background-color: #80bd78;
}

